<%= render 'common/header' %>
<div class='main'>
  <%# 本のタイトル %>
  <div class='main-upper'>
    嫌われる勇気
  </div>
  <div class='main-lower'>
    <%# メモ一覧表示 %>
    <ul class='memo-list'>
      <li class='memo'>
        <%= image_tag '/images/IMG_3069.jpeg', class: "memo-img" %>
        <div class='memo-content'>目的論という言葉を初めて聞いた。言われてみれば、目的があって行動している。行動するときは目的を決める。
        </div>
      </li>
      <li class='memo'>
        <%= image_tag '/images/IMG_3070.jpeg', class: "memo-img" %>
        <div class='memo-content'>行動するときに、一歩踏み出せないことがある。そういうときは今考えている課題が誰の課題なのか考える。課題の分離が行動するための力になる。
        </div>
      </li>
    </ul>
  </div>
</div>
