<%= render 'common/header' %>
<%# アプリケーションの説明 %>
<div class='index-upper-content'>
  <div class='top-comment'>
    <span>
      より良い読書のためのメモ管理アプリ<br>
      ユーザー同士でメモを共有することで新たな視点に気づくことができます
    </span>
  </div>
</div>

<%# 例に出した本の表示 %>
<%= render 'common/examples-book', { title1: 'Think clearly', path1: examples_path, title2: '7つの習慣', path2: norms_path, title3: '嫌われる勇気', path3: illustrations_path} %>