.add-memo {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}

.add-memo-form {
  width: 35%;
  height: 70%;
  background-color: white;
  filter: drop-shadow(2px 2px 6px black);
}

.memo-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 70%;
}

.img-upload {
  width: 500px;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.label-cover {
  width: 100%;
  margin: 16px 0 8px 70px;
}

.weight-bold-text {
  font-size: 16px;
  margin-left: 70px;
}

.memo-label {
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 17px;
  text-align: left;
  margin-left: 32px;
}

.memo-text {
  width: 360px;
  padding: 10px 10px 0;
}

.memo-register-btn {
  color: white;
  background-color: #FF3333;
  border: none;
  padding: 10px;
  margin-top: 32px;
}