.add-memo {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}

.add-memo-form {
  width: 35%;
  height: 70%;
  background-color: white;
  filter: drop-shadow(2px 2px 6px black);
}

.memo-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 70%;
}

.memo-register-btn {
  color: white;
  background-color: #FF3333;
  border: none;
  padding: 10px;
  margin-top: 32px;
}