<%= render 'common/header' %>

<div class='main'>
  <div class='main-upper'>
    Think Clearly
  </div>
  <div class='main-lower'>
    <ul class='memo-list'>
      <li class='memo'>
        <%= image_tag '/images/IMG_3071.jpeg', class: "memo-img" %>
        <div class='memo-content'>失敗しても、原因を突き止め改善することが大事。そうすることで、失敗で終わることはなくなる。失敗したままにすることが損になる。
        </div>
      </li>
      <li class='memo'>
        <%= image_tag '/images/IMG_3072.jpeg', class: "memo-img" %>
        <div class='memo-content'>今生きていることこそが幸せ。高価なものを買えたり、大きい家に住むことでしか幸せを感じられないわけではない。幸せは日常にこそある。自分から見つけよう。
        </div>
      </li>
    </ul>
  </div>
</div>