/* .more {
  width: 100px;
}

.more span {
  background-color: skyblue;
  display: block;
  width: 25px;
}

.more span img {
  width: 25px;
}

.more-lists {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 400px;
  background-color: white;
}

.more-lists li {
  padding: 5px;
  border-bottom: 1px solid gray;
  width: 130px;
}

.list {
  text-decoration: none;
  display: block;
  color: black;
  width: 100%;
}

.hidden {
  display: none;
} */

.edit-title {
  text-decoration: none;
  color: black;
  margin-right: 16px;
  font-size: 17px;
}

.delete-book {
  text-decoration: none;
  color: black;
  font-size: 17px;
}

.add-memo-btn {
  text-decoration: none;
  color: black;
  margin-right: 16px;
  font-size: 17px;
}

.current-user {
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-weight: bold;
}

.main-lower {
  height: calc(100% - 80px);
}

.memo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: start;
  height: 85%;
  padding-top: 24px;
}

.memo {
  text-decoration: none;
  padding: 0 20px;
  width: 350px;
}


.memo-content {
  text-decoration: none;
  color: black;
  font-size: 17px;
  padding-top: 16px;
  word-wrap: break-word;
}

.memo-img {
  width: 300px;
  height: 400px;
  filter: drop-shadow(2px 2px 6px black);
}