/* .more {
  width: 100px;
}

.more span {
  background-color: skyblue;
  display: block;
  width: 25px;
}

.more span img {
  width: 25px;
}

.more-lists {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 400px;
  background-color: white;
}

.more-lists li {
  padding: 5px;
  border-bottom: 1px solid gray;
  width: 130px;
}

.list {
  text-decoration: none;
  display: block;
  color: black;
  width: 100%;
}

.hidden {
  display: none;
} */

.edit-title {
  text-decoration: none;
  color: black;
  margin-right: 16px;
}

.delete-book {
  text-decoration: none;
  color: black;
}

.add-memo-btn {
  text-decoration: none;
  color: black;
  margin-right: 16px;
}

.current-user {
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-weight: bold;
}

.memo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 85%;
}

.memo {
  text-decoration: none;
  padding: 0 20px;
  /* height: 80%; */
  padding-top: 10px;
  border: 1px solid black;
}


.memo-content {
  text-decoration: none;
  color: black;
  font-size: 15px;
  word-wrap: break-word;
}

.memo-img {
  width: 300px;
  height: 400px;
}