<div class="left-page">
  <%= link_to 'ReadingMemo', '/', class: 'second-logo' %>
  <div class='introduction'>
    ReadingMemoは読書の際のメモを記録するためのアプリです。また、ユーザー同士でメモを共有することで新たな視点に気づくことができます。
  </div>
</div>