<% if model.errors.any? %>
<div class='errors'>
  <ul class='errors-lists'>
    <% model.errors.full_messages.each do | message| %>
    <li class='error-message'><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>