<div class='index-lower-content'>
  <div class='index-main-lower'>
    <ul class='index-book-list'>
    <% titles = [{title: title1, path: path1}, {title: title2, path: path2}, {title: title3, path: path3}] %>
    <% titles.each do |title| %>
      <li class='index-book'>
        <%= link_to title[:path] do %>
          <%= image_tag "/images/book_cover_kawa.png", class: "index-book-img" %>
          <div class='index-book-title'><%= title[:title] %></div>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
</div>