<div class='left-side-header'>
  <ul>
    <li>
      <%= link_to info1, path1, class: 'add-memo-btn' %>
      <%= link_to info2, path2 , class: 'edit-title' %>
      <%= link_to info3, path3, class: 'delete-book', method: :delete %>
    </li>
  </ul>
</div>