<div class='right-side-header'>
  <ul>
    <li class='user-name'>
      <%= link_to current_user.name, user_path(current_user.id), class:'current-user'%>
    </li>
    <li>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:'logout' %>
    </li>
  </ul>
</div>