.register-page {
  height: 100vh;
  width: 100%;
  display: flex;
}

.registration-main {
  width: 50%;
  height: 100%;
  border-left: 1px solid black;
  display: flex;
  justify-content: center;
}

.form-wrap {
  width: 100%;
  background-color: white;
  margin: 40px 80px;
  padding: 16px 0;
}

.form-header {
  height: 60px;
  font-size: 34px;
}

.form-header-title {
  font-weight: bold;
  font-size: 34px;
  margin-bottom: 16px;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 8px;
  width: 60%;
}

.form-text-wrap {
  width: 100%;
  margin-bottom: 5px;
}

.form-text {
  margin-right: 8px;
  font-weight: bold;
  font-size: 17px;
}

.input-form {
  width: 100%;
  height: 40px;
  padding-left: 10px;
}

.info-text {
  font-size: 14px;
  margin-top: 8px;
  width: 100%;
  text-align: left;
}

.required {
  background-color: #FF3333;
  color: white;
  padding: 2px;
}

.register {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 24px auto 0;
  width: 30%;
}

.register-btn {
  color: white;
  background-color: #FF3333;
  border: none;
  padding: 10px;
}

footer {
  height: 130px;
  background-color: #DDDDDD;
}
