.registration-main {
  width: 100%;
  height: 100%;
  background-color: #DDDDDD;
  display: flex;
  justify-content: center;
}

.form-wrap {
  width: 50%;
  background-color: white;
  padding: 40px 0;
}

.form-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #EEEEEE;
}

.form-header-title {
  font-weight: bold;
  font-size: 23px;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 10px;
  width: 50%;
}

.form-text-wrap {
  width: 100%;
  margin-bottom: 5px;
}

.form-text {
  margin-right: 10px;
  font-weight: bold;
  font-size: 17px;
}

.input-form {
  width: 100%;
  height: 40px;
  padding-left: 10px;
}

.info-text {
  font-size: 14px;
  margin-top: 5px;
  margin-right: 65px;
}

.required {
  background-color: #FF3333;
  color: white;
  padding: 2px;
}

.register {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 30px auto 0;
  width: 30%;
}

.register-btn {
  color: white;
  background-color: #FF3333;
  border: none;
  padding: 10px;
}

footer {
  height: 130px;
  background-color: #DDDDDD;
}
